body,html{margin:0;padding:0}.fullscreen-bg{position:fixed;top:0;right:0;bottom:0;left:0;overflow:hidden;z-index:-100}.fullscreen-bg__video{position:absolute;top:0;left:0;width:100%;height:100%} @media(min-aspect-ratio:16/9){.fullscreen-bg__video{height:300%;top:-100%}}
  @media(max-aspect-ratio:16/9){.fullscreen-bg__video{width:400%;left:-150%}}
  .gravitas-logo{height:100%;width:100%;display:inline-flex;position:fixed;align-items:center;justify-content:center}
  #title{font-family:'Open Sans Condensed',sans-serif;font-size:30px;color:#fff;letter-spacing:3px;font-weight:600;text-align:center}
  hr{color:#fff;border-radius:5px;margin-left:30px;margin-right:30px}
  #button-bg{margin-top:10%;padding:10px;height:60px;width:240px}
  #button-bg:hover{background-color:rgba(256,256,256,0.3);padding:10px}
  @media (max-width:600px) {#title{font-weight: 500}#button-bg{margin-top:-2%}}
