/** Code By Webdevtrick ( https://webdevtrick.com ) **/

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.header-top {
	height: 100px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.l-left {
	float: left;
	margin-left: 12%;
	margin-top: 30px;
}

.l-right {
	float: right;
	margin-right: 13%;
	margin-top: 10px;

}

@media only screen and (max-width:600px)
{
	.l-left {
		margin-left: 3%;
	}
	.l-right {
		float: right;
		margin-right: 5%;
	
	}
}

.toggle-menu i{
	width: 50px;
	height: 10px;
}
.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	        transform: translateY(300px);
	transition: opacity, -webkit-transform 1s;
	transition: opacity, transform 1s;
	transition: opacity, transform 1s, -webkit-transform 1s;
	transition-delay: 1s;
}
.header-top {
	background:rgba(250, 250, 250, 0.1);
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	box-sizing: border-box;
}
h1 {
	line-height: 70px;
	height: 70px;
}
h1 a {
	display: block;
	padding: 0 10px;
}
.toggle-menu {
	width: 50px;
	height: 100px;
	display: inline-block;
	position: relative;
	top: 20px;
}
.toggle-menu i {
	position: absolute;
	display: block;
	height: 5px;
	background: #3a3b3c;
	width: 40px;
	left: 10px;
	transition: all .3s;
	width: 50px;
    height: 8px;
}
.toggle-menu i:nth-child(1) {
	top: 16px;
	
}
.toggle-menu i:nth-child(2) {
	top: 32px;

}
.toggle-menu i:nth-child(3) {
	top: 48px;

}
.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}
.open-menu i:nth-child(2) {
	background: transparent;
}
.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}
nav {
 	height: 0;
	opacity: 0;
  box-sizing: border-box;
	background: transparent;
	position: fixed;
	top: 0;
	width: 100%;
  transition: all 1s;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;

}
.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(70vh - 100px);
}
nav ul {
	padding: 10px 10px;
	margin-top: 20px;
}

nav li a {
	font-family: 'Archivo Black', sans-serif;
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	text-decoration: none;
	transition: background .3s;
	color: #fff;
}

@media only screen and (max-width:500px){
	nav li a {
	font-size: 1.5em;
	padding: 20px;

	}
	.open-menu ~ nav {
		height: calc(75vh - 100px);
	}

}

 
  .nav-link:hover{
	color: rgba(256,256,256,0.5);
	text-decoration: none;
  }

section { 
	text-align: center;
}
h2 {
	font-size: 4em;
	margin-bottom: 20px;
}
h3 {
	font-weight: 300;
	font-size: 2.8em;
}
#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 2px solid #212121;
}

@media screen and (max-width: 767px) {
	nav ul {
		flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
	
		.team h1{
		padding-top: 3%;
	       }
                .icon{
		font-size: 3rem;
                }
	         .cards footer h3{
		font-size: 3rem;
	           }

  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
}

#description{
    font-family: 'Archivo Black', sans-serif;
    color: #000;
    font-size: 450%;
    height:80%;
    width: 35%;
    margin: -10% 30% 1% 12%;
	position: absolute;
	text-align: left;
}

@media screen and (max-width: 700px){
    #description{
		font-size: 300%;
		margin: -50% 0% 1% 10%;
    }
}

.logo{
	font-family: 'Archivo Black', sans-serif;
	font-size:large ;
     color: #fff;
     background-color: #3a3b3c ;
    padding: 15px;
    mix-blend-mode: screen;
}




/* .navbar-default{
    background-image: none;
    background-color: transparent !important;
    margin: 45px 0 2px 0;
    border:none ;
    box-shadow: none;

} */

/* .menu-btn { 
  position: absolute; 
  z-index: 3; 
  right: 10%; 
  top: 50px; 
  cursor: pointer; 
  transition: all 0.5s ease-out; 
}  */

/* Styling the hamburger lines */
/* .menu-btn .btn-line { 
  width: 50px; 
  height: 7px; 
  margin: 0 0px 5px 0; 
  background: #000; 
  transition: all 0.5s ease-out; 
}  */

/* Adding tranform to the X */
/* .menu-btn.close { 
  transform: rotate(180deg); 
}  */

/* Styling the three lines  
  to make it an X */
/* .menu-btn.close .btn-line:nth-child(1) { 
  transform: rotate(45deg) translate(5px, 5px); 
} 

.menu-btn.close .btn-line:nth-child(2) { 
  opacity: 0; 
} 

.menu-btn.close .btn-line:nth-child(3) { 
  transform: rotate(-45deg) translate(7px, -6px); 
}  */

/* Styling the position of the menu icon */
/* .menu { 
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 70%;
  visibility: hidden; 
  z-index: 1;
} 

.menu.show { 
  visibility: visible; 
  background-color: rgba(0,0,0,0.7);
  transition: background-color 0.5s ease-out;
} 

.menu-nav{
  position: fixed;
  margin-top: 8%;
  width: 100%;
}

.nav-item{
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

.nav-link{
  color: #fff;
  font-family: 'Archivo Black', sans-serif;

}

.nav-link:hover{
  color: rgba(256,256,256,0.5);
  text-decoration: none;
} */

/* Adding a transition delay  
to the 4 items in the  
navigation menu */ 
/* .nav-item:nth-child(1) { 
  transition-delay: 0.4s; 

} 

.nav-item:nth-child(2) { 
  transition-delay: 0.5s; 

} 

.nav-item:nth-child(3) { 
  transition-delay: 0.6s; 

}  

.nav-item:nth-child(4) { 
  transition-delay: 0.7s; 

}  */

.arrow {
	width: 6vmin;
	height: 6vmin;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 90%;
	transform: rotate(-45deg);
}
	.arrow:before {
		content: '';
		width: 100%;
		height: 100%;
		border-width: .8vmin .8vmin 0 0;
		border-style: solid;
		border-color: #000;
		transition: .2s ease;
		display: block;
		transform-origin: 100% 0;
	}

	
	.arrow:after {
		content: '';
		float: left;
		position: relative;
		top: -100%;
		width: 100%;
		height: 100%;
		border-width: 0 .8vmin 0 0;
		border-style: solid;
		border-color: #000;
		transform-origin: 100% 0;
		transition:.2s ease;
	}
	
	.arrow:hover::after {
		transform: rotate(45deg);
		border-color: #000;
		height: 120%;
	}
	.arrow:hover::before {
		border-color: #000;
		transform: scale(.8);
		
	}


	#text{
		font-family: 'Archivo Black', sans-serif;
               color: #fff;
	width: 50%;	                
	  font-size: 2rem;
                  
		           position: absolute;
	           top: 20%;
	}
	
	

	#bh {
		/* -webkit-animation:spin 4s linear infinite;
		-moz-animation:spin 4s linear infinite;
		animation:spin 4s linear infinite; */
		position: relative;
		margin-top: 5.0%;
		margin-left: 45%;
		height: 50%;
		width: 50%;
		-webkit-box-reflect: below;
		-webkit-box-reflect: below 10px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
	
	}
	img{
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));
	
	}
	#quote{
		font-family: 'Archivo Black', sans-serif;
		color: #d3d3d3;
		font-size: 200%;
	width: 50%;
	margin: 10px;
	margin-left:6% ;
position: relative;
top: -400px;
display: block;
text-align:left ;
	}
	
	#CBS{
			top: -10%;
			font-size: 1.9rem;
			width: 80%;
			margin-left:8% ;
	  	position: relative;
		  text-align:center ;
		}
	@media only screen and (max-width: 600px){
		
		#text{
			font-size: 200%;
	                          text-align: center;
                         width: 100%;
	                          margin-top: -5%;
		}
	
		#bh{
			margin-left: 2% ;
			height: 68%;
		width: 70%;
		align-items: center;
		margin-top: 35%;

		}

		#quote{
			margin-top: 100%;
			font-size: 100%;
	text-align: left;
	width: 80%;
		}

		#CBS{
			top: -10%;
				font-size: 100%;
			width: 80%;
			margin-left:8% ;
		position: relative;
		text-align:left ;
		}

		
	
	}
	.exp-button {
		font-family: 'Archivo Narrow', sans-serif;
	              color: #fff;
	                  font-size: 30px;
	                  padding: 8px 10px 8px 10px;
			                  border-radius: 10px;
			                  border-color: white;
		                  background: black;
	                  transition: all .1s;
	             position: relative;
	          margin-top: 10%;
	}
	
	.exp-button:hover{
	background: rgba(256,256,256,0.6);
	
	}


/* Team */

.team {

	  text-align: center;
	  background-color: black;
	  color: white;
	  font-family: 'Josefin Sans', sans-serif;
/* 	  height: 100vh; */
	  width: 100%;

	}


	.team h1 {
		font-weight: bold;
		padding: 20px;
		margin-top: 20%;
		font-size: 3rem;
	  }
.team a {
  text-decoration: none;
  color: white;
}

.team img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  opacity: 0.8;
  height: 260px;
}

.team header {
  clip-path: ellipse(250px 200px at 20% 20%);
}
.team h1{
    font-weight: bold;
    padding: 2%;
    margin: 1%;
		font-size: 3rem;
}
.team h3{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}



.list {
  padding: 1rem;
  display: flex;
  overflow-x: scroll;

}

.list::-webkit-scrollbar {
  width: 1rem;
  height: 10px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 10px;
}

.cards {

  background-image: linear-gradient(0deg, rgba(13, 13, 13, 1) -1.6%, rgba(59, 59, 59, 1) 103.8%);
  display: flex;
  position: relative;
  flex-direction: column;
  height: 370px;
  width: 300px;
  min-width: 250px;
  border-radius: 15px;
  box-shadow: -1rem 0 4rem #000;
}

@media only screen and (max-width:500px){
	/* .cards {
		
		height: 100px;
		width: 300px;
		min-width: 250px;
	  } */
	  .list::-webkit-scrollbar {
		width: 0.5rem;
		height: 7px;
	  }
}

.cards footer {
  position: relative;
  text-align: center;
}

.cards:hover {
  transform: translateY(-1rem);
  transition-duration: 0.3s;
}

.cards:hover~.cards {
  transform: translateX(13px);
}

.cards:not(:first-child) {
  margin-left: -13px;
}

.icon {
  margin: 2%;
}

.fa-linkedin{
    color: #00a8cc;
}



/* Mergers */




/* *
{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h4{
	margin: 2%;
}
#merger{
	font-weight: bold;
	padding: 2%;
	margin: 1%;
	font-size: 3rem;
}


.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:3%;
    padding: 2%;
}


.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    border-radius: 4px;
    margin: 30px 5%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s ease-in-out;
}

.container .card:hover
{
    height: 360px;
}



.container .card .imgBx{
   position: relative;
    width: 260px;
   height: 260px;
   top: -60px;
   left: 20px;
    z-index: 1;
}


.container .card .imgBx img{
    max-width: 100%;
    height: 260px;
    border-radius: 4px;
    padding: 1%;

}


.container .card .content{
    visibility: hidden;
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:black;
    opacity: 0;
    transition: 0.3s ease-in-out;


}


.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

#text1{
	font-family: 'Archivo Black', sans-serif;
	color: #fff;
	font-size: 400%;
width: 50%;
margin: 20px;
margin-left:38% ;
position: relative;
display: flex;
top: -5%;
}

	@media only screen and (max-width: 560px){

		h4{
			margin: 2%;
		}
		#merger{
			font-weight: bold;
			padding: 2%;
			margin:20% 0 0 0 ;
			font-size: 3rem;
		}

		#text1{
			font-size: 20px;
			top: 8%;
			margin-left:10% ;
visibility: hidden;
		}
		.container{
		    position: relative;
		    width: 100%;
		    display: flex;
		    justify-content: center;
		    flex-wrap: wrap;
		    margin-top:3%;
		    padding: 2%;
		}


		.container .card {
		    position: relative;
		    max-width: 200px;
		    height: 215px;
		    border-radius: 4px;
		    margin: 30px 20px;
		    padding: 20px 15px;
		    display: flex;
		    flex-direction: column;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    transition: 0.3s ease-in-out;
		}

		.container .card:hover
		{
		    height: 360px;
		}



		.container .card .imgBx{
			
		   position: relative;
		    width: 230px;
		   height: 230px;
		   top: -50px;
		   left: 0px;
		    z-index: 1;
margin-top: 30px;

		}


		.container .card .imgBx img{
		    max-width: 100%;
			height: 200px;
		    border-radius: 4px;
		    padding: 1%;

		}


		.container .card .content{
		    visibility: hidden;
		    position: relative;
		    margin-top: -140px;
		    padding: 10px 15px;
		    text-align: center;
		    color:black;
		    opacity: 0;
		    transition: 0.3s ease-in-out;
				font-size: 16px;

		}


		.container .card:hover .content{
		    visibility: visible;
		    opacity: 1;
		    margin-top: -30px;
		    transition-delay: 0.3s;
		}

	}

 */

 
@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */



/* .flip-card-container */
.flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 310px;
  height: 500px;
  margin: 40px;
  display: inline-block;

  perspective: 1000px;
}

/* .flip-card */
.flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover and focus-within states */
.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

#text1{
	font-family: 'Archivo Black', sans-serif;
	color: #fff;
	font-size: 400%;
width: 50%;
margin: 20px;
margin-left:38% ;
position: relative;
display: flex;
top: -5%;
}

@media only screen and (max-width: 560px){
	#text1{
		font-size: 25px;
		margin-left:5% ;
		top:6%;
		width: 100%;

	}

	.flip-card-container {
		width: 310px;
		height: 170px;
		margin: 10px;
		display: inline-block;
	  	  }

	}

/* .card-front */
.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
figure {
  z-index: -1;
}

/* figure, .img-bg */
figure,
.img-bg {
  position: absolute;
  top: -10;
  left: -10;

  width: 100%;
  height: 100%;
}

/* img */
img {
  height: 100%;
  border-radius: 24px;
}

@media only screen and (max-width:500px)
{
	img{
		width: 100%;
	}
	li{
		bottom: 20%;
		margin-right: 15%;

	}
}

/* figcaption */
figcaption {
  display: block;

  width: auto;
  margin-top: 12%;
  padding: 8px 22px;

  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  text-align: right;

  position: absolute;
  top: 0;
  right: 12px;

  color: var(--white-1);
  background: hsla(var(--hue), 25%, 10%, .5);
}

/* .img-bg */
.img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.card-front .img-bg {
  clip-path: polygon(0 20%, 100% 40%, 100% 100%, 0 100%);
}

.card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.card-back .img-bg {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
}

/* hover state */
.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
ul {
  padding-top: 50%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* li */
li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

li:nth-child(2n) {
  color: var(--white-2);
}

li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */




/* .design-container */
.design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.design--1,
.design--2,
.design--3,
.design--4 {
  width: 1px;
  height: 100%;
}

.design--1,
.design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.design--1 {
  left: 20%;
}

.design--2 {
  left: 80%;
}

.design--3,
.design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--3 {
  left: 24%;
}

.design--4 {
  left: 76%;
}

.design--5,
.design--6,
.design--7,
.design--8 {
  width: 100%;
  height: 1px;
}

.design--5,
.design--6 {
  left: 0;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.design--5 {
  top: 41%;
}

.design--6 {
  top: 59%;
}

.design--7,
.design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.design--7 {
  top: 44%;
}

.design--8 {
  top: 56%;
}

/* states */


.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont, sans-serif;
}
